*.idea*
*.vs*
*__pycache__*
input_images_all_data/*
*image_features*
*image_features/*
*dim_red*
*dim_red/*
*similarity*
*similarity/*
*results*
*results/*
Code/data/tests_v2.zip
Code/data/tests_v2/*
env.yml
